# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode
.idea

# Build
public

# Eslint cache
.eslintcache

# Only apps should have lockfiles
yarn.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# gatsby files
.cache/

# Yarn
yarn-error.log

# Yarn Integrity file
.yarn-integrity
